<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>C_Lithium_servlet</display-name>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.karthik.servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.karthik.servlet.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sessionimplement</display-name>
    <servlet-name>Sessionimplement</servlet-name>
    <servlet-class>com.karthik.servlet.Sessionimplement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sessionimplement</servlet-name>
    <url-pattern>/Sessionimplement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>com.karthik.servlet.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseCookie</display-name>
    <servlet-name>UseCookie</servlet-name>
    <servlet-class>com.karthik.servlet.cookie.UseCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseCookie</servlet-name>
    <url-pattern>/UseCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieAccept</display-name>
    <servlet-name>CookieAccept</servlet-name>
    <servlet-class>com.karthik.servlet.cookie.CookieAccept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieAccept</servlet-name>
    <url-pattern>/CookieAccept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAliean</display-name>
    <servlet-name>addAliean</servlet-name>
    <servlet-class>com.karthik.servlet.webpage.addAliean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAliean</servlet-name>
    <url-pattern>/addAliean</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter1</display-name>
    <filter-name>Filter1</filter-name>
    <filter-class>com.karthik.servlet.webpage.Filter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <url-pattern>/addAliean</url-pattern>
  </filter-mapping>
</web-app>